* {
    margin: 0;
    padding: 0;
}

.contenedor {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fefefe, #888888);
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 10%;
    top: 15%;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    background: linear-gradient(#fefefe, #a7a7a7);
    border-radius: 15px;

}

.texto::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(38, 88, 228);

}

.texto:focus,
.texto.active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 81%;
    left: 10%;
    top: 80%;
}

.terminos p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(84, 83, 83);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 82%;

}

.btn_encriptar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: rgb(6, 13, 152);
    border-radius: 20px;
    font-family: inherit;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: white;

}

.btn_desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background: linear-gradient(#fefefe, #330ddf);
    border-radius: 20px;
    font-family: inherit;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: black;
    font-weight: 400;

}

.btn_desencriptar:hover,
.btn_encriptar:hover {
    margin: 0.4%;
    width: 24%;
    padding: 1.5%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: linear-gradient(#fefefe, #cacaca);
    box-shadow: 0px 20px 30px -8px rgb(0, 0, 0, 0.08);
    border-radius: 20px;
}

.mensaje_encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 19px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;


}

.mensaje_encriptado h2 {
    width: 60%;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    text-align: center;
    color: #555555;
}

.mensaje_encriptado p {
    width: 80%;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #858585;

}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/*medias queris responsive*/

@media(max-width: 57.5em) {

    .contenedor {
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 600%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 65%;
    }

    .terminos p {
        font-size: 18px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 80%;
    }

    .btn_encriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn_desencriptar,
    .btn_encriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn_encriptar:hover,
    .btn_desencriptar:hover {
        margin: 0.2%;
        width: 20%;
        padding: 1.5%;
    }

    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje_encriptado{
        width: 80%;
        top: 5%;
    }
    
    .encriptado img{
        top:0;
        display: none;
        visibility: hidden;
      
    }

}